html {
  font-size: 20px;
}

body {
  margin-top: 1em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  color: #1d1d1f;
}

ul {
  background: lightgrey;
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}

h1, h2 {
  font-family: "Bodoni 72", "Prata", serif;
  font-weight: 400;
}

h1 {
  font-size: 2.25rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

h2 {
  font-size: 2rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

address {
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
  display: contents;
  font-style: inherit;
  font-weight: 200;
}
address p, a{
  margin: 0.1em;
}

address .address-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

address .address-phone-buttons {
  display: flex;
  flex-direction: row;
  margin: 0.4em;
}
address .address-phone-buttons ul {
  background: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 0;
  padding-inline-start: 0;
  list-style-type: none;
  border: none;
}
address .address-phone-buttons ul li {
  display: table-cell;
  margin-left: 0;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
}

.call-button{
  -webkit-font-smoothing: antialiased;
  background-repeat: no-repeat;
  background-size: auto 1.5em;
  height: 1.5em;
  width: 1.5em;
}

#phone {
  background-image: url("./assets/logos/phone_icon.png");
}

#whatsapp {
  background-image: url("./assets/logos/wa_logo.svg");
}

.container-centered {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.container-map-full-width {
  display: flex;
  flex-flow: 1;
  flex-direction: column;
  flex-shrink: unset;
}

.container-map-full-width iframe {
  border:0;
  width: 100%;
}

#map {
}